:root {
    --bg-color: #0b0f19;
    --surface-color: #111827;
    --primary-green: #10b981;
    --deep-green: #06533d;
    --text-main: #e5e7eb;
    --text-muted: #9ca3af;
    --text-faint: rgba(229, 231, 235, 0.4);
    --border-color: #1f2937;
}

* {
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
    scroll-behavior: smooth;
}


/* Reset default styles */

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: touch;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    color: var(--text-main);
}


.home-container {
    position: fixed;
    top: 10px;
    right: 100px;
    width: 75px;
    height: 75px;
    z-index: 1000;
}