---
import Spiral from './spiral.astro'
---


<div class="home-button">
   <Spiral/>
</div>



<style>

    .home-button {
        position: fixed;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 1000;
    }
</style>
